<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>
      {% block title%}
        {% endblock title%}
    </title>
    <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
    </style>
</head>
<body>

        <header style=background-color:black;height:100px;">
	        <div id="wrapper">
                    <!--------------Header Area Start -------------->
                <font color="red"   size="40"><B>
                    <marquee>WELCOME TO URL  SHORTENER!!!</marquee></B></font>
            </div>
        </header>
<br><br>
<div class="container">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <div class="navbar-nav">
                          <a class="nav-item nav-link active" href="{{ url_for('home_post') }}">Home <span class="sr-only">(current)</span></a>
                          <a class="nav-item nav-link" href="{{ url_for('history_get') }}">History</a>
                      </div>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
                      </li>
                       <li class="nav-item">
                          <a class="nav-link" href="#">Login</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                      </li>
                  </ul>
                </div>
            </div>
        </nav>

    {% block body%}
    {% endblock body %}
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>